/* for animating the buttons */

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes example {
  from {top: 0px; }
  to {top: 200px;}
}
/* style for entire html */
*{
  box-sizing: border-box;
}
/* style for backgroung image */
body
{
  background-image: url("../2.jpg");
  background-size: cover;
}
/* to make the winner */
.win
{
  border: 1px solid green;
  background: #F9690E;
  color: #fff;
}

/* container style for the tag */
.container
{
  width: 500px;
  overflow:hidden;
  margin:50px auto 0 auto;
  display: none;
}
/* style for the box inside container class */
.container .box{
  float: left;
  width: 166px;
  height: 110px;
  border:2px solid grey;
  transition: all .25s ease-in-out;
  font-family: sans-serif;
  font-size: 85px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  color: #fff;
  background-color: #343c3e;
}
/* hover for the container boxes */
.container .box:hover
{
  background:rgba(123, 96, 96, 0.5);
  color: #fff;
}
/* heading style */
.container span{
  width: 100%;
  display: block;
  text-align: center;
  font-family: sans-serif; color: #000;
  font-size: 46px;
  background: #9be0ff;
}

.head
{
  width: 100%;
  display: block;
  text-align: center;
  font-family: sans-serif; color: #000;
  font-size: 46px;
  background: rgba(99, 91, 91, 0.5);
  box-sizing: none;
  display: none;
}
/* for the div win */

/* style for the button */


/* style for the table with tr and td */

table, th, td {
  border: 1px solid #040404;
  border-collapse: collapse;
  background: rgba(123, 96, 96, 0.5);
  color: #fff;
}
th,td {
  padding: 15px;
}
td:focus {
  background-color: Aqua;
}
/* styling the button class for exit */
.tab
{
  display: none;
}
.button {
  border-radius: 4px;
  background-color: #219e26;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  display: none;
  /* position: absolute;
  left: 430px; */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

/* button like play again */
.button span:after {
  content: '\21BA';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* hover the button */
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* after the hover */

/* button with effects */
.button1 {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  display: none;
  /* position: absolute; */
  /* left: 680px; */
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\274C';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
/* for the gif game over */
.gif1
{

  display:none;
}
/* position the gif */
.side1
{
  position: absolute;
  height: 300px;
  width:150px;
  left: 235px;
  top:30px;

}

/* btn movements */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}
p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #ff002b, #000000, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  margin-top: 0px;
  margin-bottom: 2px;
}
a
{

  position: relative;
  -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: backwards; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: backwards;

}
/* animation of heading */
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
